.section-map {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.section-map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
@media (min-width: 1100px) {
  .section-map {
    margin: 0 auto;
    max-width: 1170px;
    height: 640px;
  }
}
